body {
    height: 100vh;
    margin: 0;
}

.container1 {
  height: 100%;  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 5px;
}

.header {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 1/2;
    background-color: blueviolet;
}

.nav {
    grid-column: 1/2;
    grid-row: 2/10;
    background-color: rgb(97, 203, 98);
}

.content {
    grid-column: 2/5;
    grid-row: 2/10;
    background-color: rgb(231, 145, 60); 
}

.student_list {
    grid-column: 5/-1;
    grid-row: 2/-1;
        background-color: rgb(36, 65, 227); 
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    margin: 0rem 1rem;
}

.section {
    font-size: 15px;
}

.section-1 {
    grid-column: 1/3;
    grid-row: 1/3;
    color: white;
    background-color: blue;
}
.section-2 {
    background-color: rgb(58, 58, 172);
}

.section-3 {
    background-color: rgb(23, 151, 225);
}

.section-4 {
    background-color: rgb(193, 82, 31);
    grid-row: 1/3;
    grid-column: 5/6;
}

.section-5 {
    background-color: rgb(46, 240, 120);
}
.section-6 {
    background-color: rgb(200, 255, 0);
}

.section-7 {
    background-color: rgb(180, 0, 225);
    grid-column: 1/4;
}

.section-8 {
    background-color: rgb(0, 225, 8);
    grid-column: 4/6;
}